.contact-main-div {
    display: block;
    justify-content: space-around;
    /* height: 150vh; */
    /* width: 100vw */
}

#manager-div {
    margin: 0px 50px;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact-label{
    display: block;
    font-size: small;
}

#design-div {
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    border: rgb(0, 105, 252) 8px;
}

@media (max-width: 500px) {
    #design-div {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.contact-img {
    border: 3px solid #1469bd;
    border-radius: 100%;
}

#engineer-div{
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 500px) {
    #engineer-div {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

#data-div{
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 500px) {
    #data-div {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}





